img{
	width:350px;
	border:2px solid blue;
}
body{
	background-color:Violet;
	font-family: 'Kalam';
}
.allRed{
		color:red;
}
.big_font{
	font-size:32px;
}
#oneStyle{
	background-color:yellow;
	border:2px solid red;
}